 :root {
    --main-text-color: #2E2F42;
    --main-title-color: #FFFFFF;
    --main-content-color: #434455;
    --main-logo-color: #F4F4FD;
    --main-info-color:#E7E9FC;
    --main-background-color:#4D5AE5;
    --main-button-color: #404BBF;
 }
 body {
font-family:"Roboto",sans-serif;
background: var(--main-title-color);
color: var(--main-content-color);
}
        

ul {
    list-style-type: none;
}

.link {
    font-family: "Raleway", sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        color:var(--main-background-color);
        text-decoration: none;
}
li.link{
    text-decoration: none;
    
}

.list{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-content-color);
    text-decoration: none;
    list-style: none;

}


.header-logo-studio{
font-family: 'Raleway', 
        sans-serif;
    font-weight: 800;
    font-size: 18px;
    line: height 1.17em;
    /* identical to box height */
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--main-text-color) ;
}


.logo-studio{

    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height:1.17;
    /* identical to box height */
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-text-color);
    
}
/*---adress---*/


.contact-list{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-content-color);
}
.contact-list list:hover {
    color: var(--main-button-color);
    cursor: pointer;
}
.contact-list list:focus {
    color: var(--main-button-color);
    cursor: pointer;
}
    .address{
        font-style: normal;
        list-style: none;
    }

.button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--main-background-color);
    background: var(--main-logo-color);
    cursor: pointer;
}
.button:hover {
    color:var(--main-title-color);
    background-color:var(--main-button-color) ;
    cursor: pointer;
}

.button:focus {
    color: var(--main-title-color);
    background: var(--main-button-color);
    cursor: pointer;
}
 

/*-----------MAIN------------*/
.hero {

    background: var(--main-text-color);
}
.hero-title {
    font-weight: 600;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--main-title-color);
    text-align:center;
}
.hero-btn {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--main-title-color);
    background:var(--main-background-color);
    cursor: pointer;
}
.hero-btn:hover {
    background: var(--main-button-color);
}
.hero-btn:focus {
    background:var(--main-button-color);
}
.working {
        font-weight: 600;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
    
        color:var(--main-text-color);
}
.title-list {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--main-text-color);
        list-style: none;
}
.title-list-item {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--main-content-color);
}
.done {
    text-align: center;
    font-weight: 600;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        color: var(--main-text-color);
        text-transform: capitalize;
}
.people {background-color:var(--main-logo-color);
}
.team {
    text-align: center;
    text-transform: capitalize;
font-weight: 600;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    background-color: var(--main-title-color);
}
/*---цвет фона фoто----*/
.team-list-item{
    background-color:var(--main-title-color);
}
/* кнопки портфолио*/

.list>li{
font-family:'Roboto',  sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    /* identical to box height, or 150% */
    letter-spacing: 0.04em;
    color:var(--main-background-color);
     list-style: none;
    cursor: pointer;}



.header-menu{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--main-text-color);
        text-decoration: none;
}

.header-menu:hover {
    color: var(--main-button-color);
}
.header-menu:focus {
    color: var(--main-button-color);

}
.address{font-style: normal;}
.address-list-link {
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-content-color);
}
.address-list-link:hover {
    color: var(--main-button-color);
}
.address-list-link:focus {
color: var(--main-button-color);
}


/*------section foto-------*/



/*---------footer-----------*/

.footer{
    background: var(--main-text-color);
        font-family: "Raleway", sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        color: var(--main-background-color);
    background-color:var(--main-text-color);
    text-transform: uppercase;
}
a>link {
    background: var(--main-text-color);
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color:var(--main-background-color);

}

.logotype {

   font-family: 'Raleway',
    sans-serif;
    font-weight: 800;
    font-size: 18px;
    line: height 1.17em;
    /* identical to box height */
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--main-logo-color);
}
.footer-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-logo-color);
}



/*-----heder index----*/
